* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

html {
    font-size: 62.5%;
}
@media (max-width: 375px) {

body {
    background-color: hsl(47, 88%, 63%);
    font-size: 1.6rem;
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 80%;
    margin: auto;
    border-radius: 5%;
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 10px 10px hsl(0, 0%, 7%);
    display: grid;
    align-items: center;
    padding: 2rem;
}

#img-container {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

svg {
    width: 280px;
    position: relative;
    left: -20px;
}

h1 {
    background-color: hsl(47, 88%, 63%);
    font-size: 70%;
    font-weight: 800;
    width: fit-content;
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin-top: 2rem;
}

p {
    margin: 2rem 0;
    font-size: 65%;
}

.grey {
    font-size: 76%;
    color: hsl(0, 0%, 50%);
}


a {
    text-decoration: none;
    color: hsl(0, 0%, 7%);
    font-weight: 800;
    font-size: 110%;
}

a:hover {
    color: hsl(47, 88%, 63%);
}

#author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -10px;
}

.profile-pic {
    width: 15%;
}

#author-name {
    margin-left: 1rem;
    font-size: 80%;
    font-weight: 800;
}

}